{% macro render_field(field) %}
  <div class="control-group">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
      <div class="label label-important">
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_controls(form, destination) %}
  <div class="control-group">
    <div class="controls">
      <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
      {% if form.next.data %}
      {% set next_val = form.next.data %}
      {% else %}
      {% set next_val = url_for(destination) %}
      {% endif %}
      <a href="{{ next_val }}" name="cancel" class="btn btn-danger">Cancel</a>
    </div>
  </div>
{% endmacro %}
