<!DOCTYPE html>
<html ng-app="DatamartApp" lang="en" >
  <head>
    <title>Datamart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <style> body { padding-top: 60px; } </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="static/js/app.js"></script>
  </head>

  <body>

    <div class="container">
      <div ng-view></div>
    </div>

    {% block datamart_js_footer %}
    <script type="text/javascript" src="{{url_for('static', 'js/ext/jquery-1.9.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static','js/ext/angular.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static','js/ext/angular-resource.js')}}"></script>
    {% endblock datamart_js_footer %}
  </body>
</html>
