{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_controls %}

{% block title %} {% if model_data.name %} Edit External ID {{model_data.name}} {% else %} Add new External ID {% endif %} {% endblock %}

{% block container_content %}
<h3>{% if model_data.name %} Edit External ID {{model_data.name}} {% else %} Add new External ID {% endif %}</h3>
<form class='form-horizontal' action="{{ url_for('datamart.externalID_edit',externalid_id=model_data.id) }}" method=post>
  <fieldset>
    {{ form.hidden_tag() }}

    {{ render_field(form.subject) }}
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}

    {{ render_controls(form, 'datamart.externalIDs_view') }}
  </fieldset>
</form>
{% endblock container_content %}
