{% extends "base.html" %}

{% block title %} Facts {% endblock %}
{% block container_content %}
  <!-- DATAGRID MARKUP -->
  <div id="FactsGrid">
  <div id="facts-grid-filter" class='.filter'>
    <button id="dg-add-filter" class='btn'>Add Filter</button>
  </div>
  <table class="table table-bordered datagrid">
    <thead>
    <tr>
      <th>
        <span class="datagrid-header-title">Facts</span>
        <div class="datagrid-header-left">
          <div class="input-append search">
            <input type="text" class="input-medium" placeholder="Search"><button class="btn"><i class="icon-search"></i></button>
          </div>
        </div>

        <div class="datagrid-header-right">
          
  <div class="select filter" data-resize="auto">
    <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
      <span class="dropdown-label">Population &lt; 5M</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-value="all" data-selected="true"><a href="#">All</a></li>
      <li data-value="lt5m"><a href="#">Population &lt; 5M</a></li>
      <li data-value="gte5m"><a href="#">Population &gt;= 5M</a></li>
    </ul>
  </div>
</div>
      </th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>
        <div class="datagrid-footer-left" style="display:none;">
          <div class="grid-controls">
            <span><span class="grid-start"></span> - <span class="grid-end"></span> of <span class="grid-count"></span></span>
            <select class="grid-pagesize">
              <option>1</option>
              <option>5</option>
              <option selected='selected' >10</option>
              <option>25</option>
              <option>100</option>
            </select>
            <span>Per Page</span>
          </div>
        </div>
        <div class="datagrid-footer-right" style="display:none;">
          <div class="grid-pager">
            <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
            <span>Page</span>
            <div class="input-append dropdown combobox">
              <input class="span1" type="text">
            </div>
            <span>of <span class="grid-pages"></span></span>
            <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
          </div>
        </div>
      </th>
    </tr>
    </tfoot>
  </table>
</div>
  <!-- END DATAGRID MARKUP -->
  <script>
  </script>

{% endblock container_content %}
{% block page_specific_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/ext/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ext/handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/templates.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/facts_datasource.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/facts.js')}}"></script>
{% endblock page_specific_js %}
