{% extends "base.html" %}
{% from "_gridhelpers.html" import render_grid_controls %}
{% from "_formhelpers.html" import render_field, render_controls %}

{% block title %}{% if fact.subject_id %} Edit Fact {{fact.id}} {% else %} Add Fact {% endif %}{% endblock %}

{% block container_content %}
<h3>{% if fact.subject_id %} Edit Fact {{fact.id}} {% else %} Add Fact {% endif %}</h3>
{% if current_user.is_admin %}
  <form action="{{ url_for('fact_edit', fact_id=fact.id) }}" method=post>
  <form>
    {{ form.hidden_tag() }}
{% endif %}
  <h3>Fact</h3>
  <div class="span4 well">
    <h3>Subject
      <select id='subject' name='subject'>
        {% for subject in subjects %}
        <option value='{{ subject.id }}'{% if subject.id==fact.subject_id %} selected{% endif %}>{{subject.internal_id}}</option>
        {% endfor %}
    </select></h3>
    <p>Table ID: <a title='Edit subject "{{ fact.subject.internal_id }}"' href="{{ url_for('subject_edit', subject_id=fact.subject.id) }}">{{ fact.subject.id }}</a></p>
    <p>Internal ID: <a title='Edit subject "{{ fact.subject.internal_id }}"' href="{{ url_for('subject_edit', subject_id=fact.subject.id) }}">{{ fact.subject.internal_id }}</a></p>
    <p>External IDs: {% for id in fact.subject.external_ids %}<a title='Edit External ID "{{ id.id }}"' href="{{ url_for('externalID_edit', externalid_id=id.id) }}">{{ id.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
    </p>
  </div>
  <div class="span4 well">
    <h3>Event
      <select id='event' name='event'>
        {% for event in events %}
        <option value='{{ event.id }}'{% if event.id==fact.event_id %} selected{% endif %}>{{event.name}}</option>
        {% endfor %}
    </select></h3>
    <p>Event ID: <a title='Edit event "{{ fact.event.name }}"' href="{{ url_for('event_edit', event_id=fact.event_id) }}">{{ fact.event_id }}</a></p>
    <p>Description: {% if fact.event.description != '' %}{{ fact.event.description}}{% else %}None{% endif %}</p>
    <p>Sources: {% for source in fact.event.sources %}<a href="{{ url_for('source_edit', source_id=source.id) }}">{{ source.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
      </p>
  </div>
  <div class="span10 well">
    <h3>Variables</h3> 
    <p><input type="button" class="btn btn-primary" value="Add Variable"></p>
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Dimension</th>
          <th>Data Type</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for var in fact.values %}
        <tr>
          <td title="{{ var_by_id[var].description }}"><a href="{{ url_for('variables_view',variable_id=var) }}">{{ var_by_id[var].name }}</a></td>
          <td title="{{ var_by_id[var].dimension.description }}"><a href="{{ url_for('dimensions_view',dimension_id=var_by_id[var].dimension.id) }}">{{ var_by_id[var].dimension.name }}</a></td>
          <td>{{ var_by_id[var].dimension.data_type }}</td>
          <td><input type="text" id='id_values-{{ loop.index0 }}' name='values-{{ loop.index0 }}' value="{{ fact.values[var] }}" {% if not current_user.is_admin %}disabled{% endif %}></td>
          <td>
            {% if current_user.is_admin %}
            <a><i id='m_{{var}}' class="icon-remove remove-fact"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if current_user.is_admin %}
    {{ render_controls(form, 'facts_view') }}
    {% endif %}
  </div>
{% if current_user.is_admin %}</form>{% endif %}

{% endblock container_content %}

{% block page_specific_js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/dimension.js')}}"></script>
{% endblock page_specific_js %}
