{% extends "base.html" %}
{% block container_content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Hello, Datamart Users!</h1>
  <p>This Datamart is designed to combine data from multiple analysis pipelines into one unified interface.  All data should have gone through quality assurance already so that everything in the datamart can be treated as good.  (Nonetheless, you'll be able to flag data as bad.)</p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Complex Filtering</h2>
    <p>Using the web interface or the REST API you can construct complex queries of the data and export it in a format compatible with your favorite tools.</p>
  </div>
  <div class="span4">
    <h2>Uses LDAP</h2>
    <p>The next release will support authenticating via LDAP so you don't have to manage another set of login credentials.</p>
  </div>
  <div class="span4">
    <h2>All your data</h2>
    <p>Data is only usefull if you can query it how <em>you</em> want. Combine any data from any source to your heart's content!</p>
  </div>
</div>

{% endblock container_content %}
