{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}File Upload{% endblock %}
{% block container_content %}
<div class="well">
  <div id="dm-fl-LabelWizard" class="wizard">
    <ul class="steps">
      {% for col in data[0] %}
      <li data-target="{{ '#step' ~ loop.index }}" {%if loop.first %}class="active"{% endif %}><span class="badge{% if loop.first %} badge-info{% endif %}">{{ loop.index }}</span>Column {{loop.index}}<span class="chevron"></span></li>
      {% endfor %}
    </ul>
    <div class="actions">
      <button type="button" class="btn btn-mini btn-prev" id='dm-fl-WizardPrev'> <i class="icon-arrow-left"></i>Prev</button>
      <button type="button" id='dm-fl-FinalSubmit' class="btn btn-mini btn-next" data-last="Submit">Next<i class="icon-arrow-right"></i></button>
    </div>
  </div>
  <div class="step-content">
    <form id='dm_fl_column_var' method='POST'>
      {{ form.hidden_tag() }}
      {% for col in data[0] %}
      <div class="step-pane{%if loop.first%} active{%endif%}" id="{{ 'step' ~ loop.index }}">
        <h2>Please select Variable type for Column {{loop.index}}</h2>

        {{ render_field(form['column_' ~ loop.index0]) }}
        <table class="table table-striped table-bordered"> 
          <thead>
            <tr>
              {% if headers is defined and headers[loop.index0] %}
                <th> {{ headers[loop.index0] }} </th>
              {% else %}
                <th>Column {{loop.index}}</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% set current_col = loop.index0 %}
          {% for row in data %}
          <tr>
            <td>{{ row[current_col] }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
      {% endfor %}
      <br>
      <input type="button" class="btn btn-prev" id="btnWizardPrev" disabled='true' value="Back">
      <input type="button" class="btn btn-primary btn-next" id="btnWizardNext" value="Next">
    </form>
  </div>
</div>
{% endblock container_content %}

{% block page_specific_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/ext/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ext/handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/templates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/label-upload.js') }}"></script>
{% endblock page_specific_js %}
