{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_controls %}

{% block title %}{% if variable.name %} Edit Variable {{variable.name}} {% else %} Add Variable {% endif %}{% endblock %}

{% block container_content %}
<h3>{% if variable.name %} Edit Variable {{variable.name}} {% else %} Add Variable {% endif %}</h3>
<form class='form-horizontal' action="{{ url_for('variable_edit',variable_id=variable.id) }}" method=post>
  <fieldset>
    {{ form.hidden_tag() }}

    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.dimension) }}
    {{ render_field(form.roles) }}
    {{ render_field(form.in_use) }}

    {{ render_controls(form, 'variables_view') }}
  </fieldset>
</form>
{% endblock container_content %}
